{% extends "layout/base.html" %}
{% block title %} Books To Read {% endblock %}
{% block content %}

<br><br>

<div class="counter-container">
        <h2>Books I Like</h2>
        <i class ="fa fa-star"></i>: <span class="counters">0</span>
</div>
<br>
<font color="white">
    <table class="table table-hover">
      <thead>
        <th>No</th>
        <th>Title</th>
        <th>Book Cover</th>
        <th>Author(s)</th>
        <th>Published</th>
        <th>Add to Favorite</th>
      </thead>
      <tbody id="bodybooks"></tbody>
</font>

{% endblock %}