{% extends "layout/base.html" %}
{% block title %} Hello! {% endblock %}
{% block content %}
        <div class="container">
          <div class="row">
            <div class="col-sm-12" style="padding-top: 25%">
              <h1 align="center">
                  Hello, Apa Kabar?
              </h1>
              <form id="form" method="POST" action="{% url 'hello:index' %}" style="padding-left: 30%; padding-right: 30%;padding-top: 10%;">
                <br>
                {% csrf_token %}
                {% for i in setstatus %}
                  {{i.label_tag}}
                  <br>
                  {{i}}
                {%endfor%}
                <br><br>
                <div align="center">
                  <button type="submit" class="btn btn-success" id="submit-button">Submit</button>
                </div>
              </form>
          </div>
        </div>

        <br><br><br>
            <font color="white">
            <table class="table table-hover">
              <thead>
                <th>Date</th>
                <th>Status</th>
              </thead>
            {% for result in StatusForm %}
              <tbody>
                <td>{{result.time}}</td>
                <td> Status : {{result.status}}</td>
              {% endfor %}
            </tbody>
            </font>

  </div>


{% endblock %}
