{% extends "layout/base.html" %}
{% block title %} Me {% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
              <font size = "6">
                <br><br>
                <h1 id="profiletitle">Profile</h1>
              </font>
      </div>
    </div>

      <div class="col-sm-12">
          <br><br>
          <img id="sasari" src="https://data.whicdn.com/images/319570132/original.jpg">
      </div>

       <div class="row">
        <div class="col-sm-12" style="text-align: center">
          <font size = "4" color="white">
          <br>
          <p id="name">Name: Dwipuspa Ramadhanti Santoso</p>
          <p id="birthday">Birthday: 22nd December 1999</p>
          <p id="college">Currently Studying At: Faculty of Computer Science, University of Indonesia</p>
        </div>
      </div>

    <br><br>

     <div class="accordion">
      <div class="accordion-header">Current Activities</div>
      <div class="panel">
        <p class="accordion-content">1. Lab PPW<br>2. TP SDA</p>
      </div>

      <div class="accordion-header">Organizations and Committees Record</div>
      <div class="panel">
        <p class="accordion-content">1. Public Relation Staff of The 25th CGT<br>2. HRD of Online Marketing of COMPFEST X<br>3. HRD Staff of DPM Fasilkom UI</p>
      </div>

      <div class="accordion-header">Achievements</div>
      <div class="panel">
        <p class="accordion-content">TBA</p>
      </div>
    </div>

    <br>

    <div align="center">
        <button type="button" class="btn btn-secondary" id="changetheme">Change Theme</button>
    </div>
    <br>
  </div>

{% endblock %}
