{% extends "layout/base.html" %}
{% block title %} Stay In Touch {% endblock %}
{% block content %}
<div class="container">
          <div class="row">
            <div class="col-sm-12">
            	<br><br><br><br><br><br><br>
            	<h1>Want To Keep In Touch?</h1>
            	
	            	<h3 style="font-style: italic; color: white; text-align: center;">Subscribe Down Below!</h3>
	            	<div id="alert"></div>
	            	<form id="registform" method='POST' action="{% url 'hello:saveregistration' %}" style="padding-left:25%; padding-right: 25%; color:white">
	            	<br><br><br>
	                {% csrf_token %}
	                {% for i in showform %}
	                  {{ i.label_tag }}
	                  {{ i }}
	                {%endfor%}
	                <br><br>
	                <div align="center">
	                	<button type="submit" class="btn btn-success" id="registsubmit">Regist</button>
	              	</div>
	              </form>

	             <font color="white">
				    <table class="table table-hover">
				      <thead>
				        <th>No</th>
				        <th>Name</th>
				        <th>Email</th>
				        <th>Unsubscribe?</th>
				      </thead>
				      <tbody id="bodysubscribers"></tbody>
				</font>

            </div>
        </div>
 </div>
{% endblock %}