<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg" id="navbarsaya">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="listbooks">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="registration">Subscribe</a>
                </li>
            </ul>
        </div>
    </div>
</nav>